   .btncreate{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 10px;
    }
    .table-warnings{
      background-color: #fff3cd;
font-weight: bold;
    }
.navbar {
  padding: 10px 20px;
  background-color: #ffcc00; 
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.nav-links{
  list-style: none;
  display: flex;
  gap:20px ;
}
.navbar a {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease; 
  border-radius: 5px; /* Rounded corners */
}

.navbar a:hover {
  color: #ffffff; /* White text on hover */
  background-color: rgba(0, 150,30, 0.4); /* */
}

.navbar a.active {
  color: #007bff; /* Blue text for active link */
  border-bottom: 2px solid #007bff; /* Underline effect for active link */
}
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }

  .pagination button {
    margin: 0 5px;
    
  }


  
